body {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  background-color: #e5e5e6;
  color: #666;
  font-family: 'Ideal Sans SSm A', 'Ideal Sans SSm B', 'Ideal Sans', 'Sans Serif';
  font-weight: 300;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
  border: 0px;
}

a:link,
a:visited {
  color: #666;
}

#bigBox {
  display: block;
  position: relative;
  top: 0px;
  height: 768px;
  max-width: 1024px;
  min-width: 840px;
  background-image: url('../images/DancingWoman.jpg');
  background-size: contain;
  margin-right: auto;
  background-repeat: no-repeat;
  overflow: hidden;
  background-color: #e5e5e6;
  margin: 0 auto;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  #bigBox {
    background-image: url('../images/DancingWoman.jpg');
    text-align: center;
  }

}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
  #bigBox {
    height: 1000px;
    max-width: 320px;
    min-width: 320px;
    background-image: url('../images/iosbackground@2x.jpg');
    background-size: 320px 1000px;
  }

}

#leftSide,
#rightSide {
  display: table-cell;
  vertical-align: top;
  width: 1200px;
  max-width: 500px;
  min-width: 420px;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
  #leftSide,
  #rightSide {
    display: table-cell;
    vertical-align: top;
    width: 0px;
    max-width: 0px;
    min-width: 0px;
  }

}

#rightSide {
  max-width: 900px;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
  #rightSide {
    max-width: 320px;
    padding-left: 64px;
  }

}

#topSide {
  display: none;
}

#phone img {
  display: block;
  margin-left: 110px;
  margin-right: auto;
}

#appAndTagline img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 110px;
}

#appAndTagline h1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 100px;
  text-align: center;
  font-size: 51px;
  font-weight: normal;
  color: #000000;
  font-family: 'Ideal Sans A', 'Ideal Sans B', 'Ideal Sans', 'Sans Serif';
  font-weight: 300;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
  #appAndTagline h1 {
    top: -5px;
  }

}

#appAndTagline p {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 70px;
  text-align: center;
  font-size: 24px;
  color: #696969;
  /* 
	font-family: 'Ideal Sans A', 'Ideal Sans B';
	font-weight: 300;
	font-style: normal;
 */
}

#appAndTagline pm {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 70px;
  text-align: center;
  font-size: 14px;
  color: #696969;
  /* 
  font-family: 'Ideal Sans A', 'Ideal Sans B';
  font-weight: 300;
  font-style: normal;
 */
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
  #appAndTagline p {
    top: -35px;
  }

}

#appStore img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 330px;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
  #appStore img {
    top: 665px;
  }

}

#followUs p {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 410px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: .85em;
  font-weight: 400;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
  #followUs p {
    top: 720px;
  }

}

#qbranch img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 360px;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
  #qbranch img {
    top: 675px;
  }

}

#appAndTaglineOnTop {
  display: none;
}

img {
  border: 0px;
}

